<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <!-- <div class="user" v-for="user in arrUser" v-if="user.isActive">{{ user.email }}</div> -->
        <div class="user" v-for="user in userActive">{{ user.email }}</div>
        <ul>
            <li v-for="(value, key) in scores">{{key}}: {{value}} </li>
        </ul>
        <div class="list-blog">
            <div v-for="(list, index) in listBlogs" class="blog" v-bind:key="index">
                <div class="title">{{list.title}}</div>
                <div class="description">{{list.body}}</div>
            </div>
        </div>
    </div>
</body>
<script src="main.js"></script>
</html>